shamefully-hoist=true
public-hoist-pattern[]=*@sxzz*
# 开启依赖全提升，node_modules结构和npm一致（官方要求）
node-linker=hoisted
# 放开postinstall，让electron正常下载二进制
enable-pre-post-scripts=true
# 修复electron国内下载
electron_mirror=https://npmmirror.com/mirrors/electron/